{% extends "auth_base.html" %}

{% block title %}Demande de Réinitialisation du Mot de Passe{% endblock %}

{% block page_title_auth %}
<p class="login-box-msg">Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</p>
{% endblock %}

{% block auth_content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="input-group mb-3">
        {{ form.email.label(class="tanger-nav-sr-only") }}
        {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="Adresse Email", autocomplete="email", spellcheck="false", aria_label="Adresse Email") }}
            <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
            </div>
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control", placeholder="Adresse Email", autocomplete="email", spellcheck="false", aria_label="Adresse Email") }}
            <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row auth-form-actions">
      <div class="col-12 auth-form-submit">
        {{ form.submit(class="btn btn-primary btn-block") }}
      </div>
      <!-- /.col -->
    </div>
</form>
{% endblock %}

{% block auth_footer_links %}
<p class="mt-3 mb-1">
    <a href="{{ url_for('auth.login') }}">Se connecter</a>
</p>
<p class="mb-0">
    <a href="{{ url_for('auth.register') }}" class="text-center">Créer un nouveau compte</a>
</p>
{% endblock %}
