/* Auth page styles */
body.login-page {
  background: url("/static/img/DJI_0639.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-box {
  width: 400px;
  max-width: 90%;
  margin: 7% auto 10rem;
}

.card-outline.card-primary,
.card-outline.card-info {
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.login-card-body {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
